/*------------------------------------------------------------------------------
	Šî–{
 *------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
	AAŠÖ˜A
 *------------------------------------------------------------------------------*/
@font-face {
  font-family: "Saitamaar";
  src: url("./fonts/Saitamaar.woff2") format("woff2");
  font-display: swap;
}

dd {
  font-family: Saitamaar, "Saitamaar";
  font-size: 14px;
  line-height: 16px;
  overflow: scroll;
}

dl {
  white-space: nowrap;
  overflow: scroll;
}

form {
  overflow: scroll;
}
