/*------------------------------------------------------------------------------
	基本
 *------------------------------------------------------------------------------*/
@import "normalize.css";

center img {
  width: 100%;
}

/*------------------------------------------------------------------------------
	ヘッダー
 *------------------------------------------------------------------------------*/
 .kanban-wrapper img {
  width: 100%;
  max-width: 800px;
 }

/*------------------------------------------------------------------------------
	メインコンテンツ
 *------------------------------------------------------------------------------*/
main.main-content,
main.threads {
  width: 100%;
  overflow: scroll;
  padding: 0 8px;
}

/*------------------------------------------------------------------------------
	AA関連
 *------------------------------------------------------------------------------*/
@font-face {
  font-family: "Saitamaar";
  src: url("./fonts/Saitamaar.woff2") format("woff2");
  font-display: swap;
}

dd {
  font-family: Saitamaar, "Saitamaar";
  font-size: 14px;
  line-height: 16px;
  overflow: scroll;
}

dl {
  white-space: nowrap;
  overflow: scroll;
}

form {
  overflow: scroll;
}
